.App {
    text-align: center;
}
table{
    margin-left: 590px;
    border: 1px solid black;
    margin-bottom: 30px;
    background-color: dodgerblue;
}
.inLine{
    margin-left: 490px;
}
td{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
}
.inLineTdRed{
    border-radius: 30px;
    background-color: red;
}
.inLineTdYellow{
    border-radius: 30px;
    background-color: yellow;
}
.inLineTd{
    border-radius: 30px;
}
button{
    width: 120px;
    margin-bottom: 30px;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}

